{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
  </head>
  <body>
    {{ template "form" . }}
    <hr />
    {{ template "display" . }}
  </body>
</html>
{{ end }}


{{ block "form" . }}
<!-- The swap is for handling how we change things, so it doesnt render unnecesary html -->
<form hx-post="/contacts" hx-target="#display" hx-swap="outerHTML">
  name: <input type="text" name="name" id="">
  email: <input type="text" name="email" >
  <button type="submit">Create contact</button>
</form>
{{ end }}

{{ block "display" . }}
<div style="display: flex; flex-direction: column;" id="display">
  {{ range .Contacts }}
    <div>
      Name: <span>{{ .Name }}</span>
      Email: <span>{{ .Email }}</span>
    </div>
  {{ end }}
</div>
{{ end }}